:root {
  --white: hsl(0, 0%, 100%);
  --magentaLight: hsl(300, 24%, 96%);
  --magentaMedium: hsl(303, 10%, 53%);
  --magentaDark: hsl(300, 43%, 22%);
  --pinkLight: hsl(333, 80%, 67%);
}

* {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  background: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.outer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 375px;
  height: auto;
}

.container1 {
  margin: 80px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;
}

.intro {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
}

#heading {
  width: 80%;
  margin: auto;
  color: var(--magentaDark);
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
}

#subHeading {
  color: var(--magentaDark);
  font-weight: 200;
  font-size: 18.5px;
  line-height: 20px;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  width: 100%;
  padding: 15px 0 15px 0;
  margin: 0px 16px 20px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--magentaLight);
}

.criteria {
  color: var(--magentaDark);
  font-weight: 700;
}

.container2 {
  margin: 0px 16px 100px 16px;
}

.reviewCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--white);
}

.review {
  display: flex;
  flex-direction: column;
  padding: 35px 35px 35px 35px;
  border-radius: 10px;
  background-color: var(--magentaDark);
  gap: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 25px;
}

.title img {
  height: 40px;
  border-radius: 50px;
}

.reviewerDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.buyerName {
  font-weight: 700;
}

.buyerStat {
  color: var(--pinkLight);
}

.feedback {
  line-height: 24px;
} 

@media (min-width: 768px) {
  * {
    margin:0;
    padding:0;
  }

  body {
    background: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size:38.5%,80%;
    font-size: 16px;
  }

  .outer {
    display: flex;
    margin: 8% 11% 8% 11%;
    justify-items:center;
    align-items : center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: auto;
    gap:9vh;
  }

  .container1 {
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0;
    align-self: auto;
  }

  .intro {
    width:51%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap:1vw;
  }

  #heading {
    height:20vh;
    width:30vw;
    margin:inherit;
    align-self: flex-start;
    font-size: 4vw;
    font-weight: 700;
    color:var(--magentaDark);
    line-height: 6.5vh;
  }

  #subHeading {
    max-width: 30vw;
    font-size: 1.35vw;
    font-weight: 400;
    line-height: 3vh;
    color:var(--magentaMedium);
  }

  .ratings {
    width:49%;
    display:flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
  }

  .rating {
    margin:unset;
    padding:unset;
    height: 7vh;
    width:80%;
    border-radius: 10px;
    background-color:var(--magentaLight);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 6%;
  }


  .images {
    width: 35%;
    display: flex;
    justify-content: end;
    gap:5%;
  }

  .images img {
    max-height: 2vh;
    max-width: 1.2vw;
  }

  .criteria {
    width:65%;
    display: flex;
    font-weight: 700;
    font-size: 1.25vw;
    color: var(--magentaDark);
  }

  .container2 {
    margin:unset;
  }

  #rating1 {
    align-self: start;
  }

  #rating3 {
    align-self: end;
  }
  .reviewCards {
    height:32vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5%;
    color: var(--white)
  }


  .review {
    height: 29vh;
    background-color: var(--magentaDark);
    padding: 3% 3% 3% 3%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    gap: 2vh;
    box-sizing: border-box;
  }

  #review1 {
    align-self: flex-start;
  }

  #review3 {
    align-self: flex-end;
  }

  .title {
    height:40%;
    display: flex;
    align-items: center;
    gap:unset;
  }

  .title img {
    height: 5vh;
    border-radius: 50%;
  }

  .reviewerDetails {
    display: flex;
    font-size: 1.2vw;
    flex-direction: column;
    margin: 0 0 0 2vw;
    gap: 0.8vh;
  }  

  .buyerStat {
    color:var(--pinkLight);
    font-weight: 200;
  }


  .buyerName {
    font-weight: 500;
  }

  .feedback {
    height:60%;
    font-size: 1.2vw;
    line-height: 2.5vh;
  }
}